.display {
    background-color: #232222;
    padding: 20px 10px;
}

.display p {
    text-align: right;
    color: #7e187d;
    margin-bottom: 10px;
    font-size: 18px;
}

.display h1 {
    text-align: right;
    color: wheat;
    margin: 5px 0 0;
    font-size: 40px;
}